<%# encoding: UTF-8 %>

window.Bootsy = (function(){

  var Bootsy = {unsavedChanges: false, editor: false, editorOptions: {}, eventCallbacks: {'loaded': []}, triggeredEvents: []};

  Bootsy.on = function(eventName, callback){
    Bootsy.eventCallbacks[eventName].push(callback);
  };

  Bootsy.trigger = function(eventName){
    var callbacks = Bootsy.eventCallbacks[eventName];
    for(i in callbacks){
      callbacks[i]();
    }
    Bootsy.triggeredEvents.push(eventName);
  };

  Bootsy.after = function(eventName, callback){
    if(Bootsy.triggeredEvents.indexOf(eventName) != -1){
      callback();
    }else{
      Bootsy.on(eventName, callback);
    }
  };
  
  Bootsy.progressBar = function(element){
    element.find('div.modal-body').html('<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>');
  };

  Bootsy.refreshGallery = function(element){
    element.find('a.refresh_btn').show().click();
  };

  Bootsy.openImageGallery = function(editor){
    $('#bootsy_image_gallery').modal('show');
  };

  Bootsy.insertImage = function(image, editor){
    $('#bootsy_image_gallery').modal('hide');
    editor.composer.commands.exec("insertImage", image);
  }

  Bootsy.alertUnsavedChanges = function(){
    if(Bootsy.unsavedChanges){  
      return "<%= I18n.t 'bootsy.js.alert_unsaved' %>"; 
    }
  };

  Bootsy.ready = function(){
    if($('textarea.bootsy_text_area').length > 0){
			Bootsy.editors = []
			Bootsy.editorOptions = []
			
			$('textarea.bootsy_text_area').each(function(i) {
				
				var current_editor = Bootsy.editors[i] = {}
				var current_editor_options = Bootsy.editorOptions[i] = {color: true, locale: "<%= I18n.default_locale %>"};
				var current_editor_object = this

				if($(current_editor_object).attr('data-enable-image') == 'false'){
	        current_editor_options.image = false;
				} else {
					
					if($(current_editor_object).attr('data-enable-uploader') != 'false'){
						current_editor_options.image = false;
	          current_editor_options.imageUpload = true;
	          current_editor_options.imageUploadCallback = Bootsy.openImageGallery;

					}
				}
			
				if($(current_editor_object).attr('data-enable-font-styles') == 'false') current_editor_options['font-styles'] = false;
	      if($(current_editor_object).attr('data-enable-emphasis') == 'false') current_editor_options.emphasis = false;
	      if($(current_editor_object).attr('data-enable-lists') == 'false') current_editor_options.lists = false;
	      if($(current_editor_object).attr('data-enable-html') == 'true') current_editor_options.html = true;
	      if($(current_editor_object).attr('data-enable-link') == 'false') current_editor_options.link = false;
	      if($(current_editor_object).attr('data-enable-color') == 'false') current_editor_options.color = false;
	
				current_editor = $(current_editor_object).wysihtml5(current_editor_options).data("wysihtml5").editor;
				
				current_editor.on("change", function(){
	        Bootsy.unsavedChanges = true;
	      });
	
				current_editor.on("focus:composer", function(){
	        Bootsy.current_editor = this;
	      });
	
				$(current_editor_object).closest('form').submit(function(e){
	        Bootsy.unsavedChanges = false;
	        return true;
	      });
			})
			
			element = $('#bootsy_image_gallery');

      element.parents('form').after(element);

      element.find('a.refresh_btn').live('click', function(e){
        $(this).hide();
        Bootsy.progressBar(element);
      });

			element.find('a.destroy_btn').click(function(e){
        Bootsy.progressBar(element);
      });

			// element.find('#new_image').live('ajax:before', function(e){
      //   console.log('sending...')
      //   Bootsy.progressBar(element);
      // });

			element.modal({show: false});
      element.on('shown', function(){
        Bootsy.refreshGallery(element);
      });

      element.on('hide', function() {
        //
				// Fix - focus
				//
				//
			  //Bootsy.current_editor.currentView.element.focus();
      });

      element.on('click.dismiss.modal', '[data-dismiss="modal"]', function(e) {
        e.stopPropagation();
      });

			element.find('ul.dropdown-menu a.insert').live('click', function(e){
        var imagePrefix = "/"+$(this).attr('data-image-size')+"_";
        if($(this).attr('data-image-size') == 'original'){
          imagePrefix = '/';
        }
        var img = $(this).parents('li.dropdown').find('img');
        var obj = {
          src: img.attr('src').replace("/thumb_", imagePrefix),
          alt: img.attr('alt').replace("Thumb_", "")
        };

        obj.align = $(this).attr('data-position');

        Bootsy.insertImage(obj, Bootsy.current_editor);
      });     

      // In order to properly work with Twitter Bootstrap 2.1
      $('body').off('click.dropdown touchstart.dropdown.data-api', '.dropdown');
      $('body').on('click.dropdown touchstart.dropdown.data-api', '.dropdown form', function(e){ 
        e.stopPropagation();
      });

      if($('textarea.bootsy_text_area').attr('data-alert-unsaved') != 'false'){
        window.onbeforeunload = Bootsy.alertUnsavedChanges;
      }

      Bootsy.trigger('loaded');
    }
  };

  return Bootsy;
}).call(this);

$(Bootsy.ready);